body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111;
    }
    
    a {
    display: block;
    position: relative;
    font-size: 50px;
    margin: 0 20px;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    transition: .4s linear;
    color: rgb(248, 124, 8);
    box-shadow: 2px 2px 2px rgb(236, 138, 9);
    }
    
    a:hover i {
    animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @keyframes text-pop-up-top{
        0% {
            transform: translateY(0);
            transform-origin: 50% 50%;
        }
        100% {
            transform: translateY(-50px);
            transform-origin: 50% 50%;
        }
    }